PUBLIC_CDN_URL=https://cdn.jocky.website

R2_BUCKET=jocky-cdn-storage
R2_ENDPOINT=https://d092b6a2e98b35c9859ab4f3912bfd05.r2.cloudflarestorage.com
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=

CLOUDFLARE_API_TOKEN=
CLOUDFLARE_ACCOUNT_ID=
